<head>
  <meta charset="UTF-8">
  <title>Pod Shack</title>
  {{!-- {{ <link rel="stylesheet" href="assets/css/jass.css">
  <link rel="stylesheet" href="assets/css/style.css"> }} --}}
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Pod Shack &#127881
      </h1>
      <nav>
        <a href="/">Homepage</a>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/search">Search</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>