<head>
  <meta charset="UTF-8">
  <title>Find Your New Favorite Podcast</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
  {{!-- we can change title later just a placesaver for now --}}
</head>
<body>
  <div class="flex-column justify-space-around">
<form>
    <input type="text">
    <button>Search</button>
    <button>Shack Me</button>
</form>
  </div>
<div>
    {{!-- this is where search results will go--}}
</div>

<script>{{!-- this is where the front end script will go for the search--}}</script>

</body>